logfile = "{{ dpl1_bigtable_config_logfile }}"
server_address = "{{ dpl1_bigtable_config_server_address }}"
datasource_name = "{{ dpl1_bigtable_config_datasource_name }}"
instance = "{{ dpl1_bigtable_config_instance_name }}"
mds_conn_string = "{{ dpl1_bigtable_config_mds_conn_string }}"
publish_updates = {{ dpl1_bigtable_config_publish_updates }}
publish_values = {{ dpl1_bigtable_config_publish_values }}
brokers = {{ dpl1_bigtable_config_brokers }}
updates_topic = "{{ dpl1_bigtable_config_updates_topic }}"
max_batch_size = {{ dpl1_bigtable_config_max_batch_size }}
max_message_size_bytes = {{ dpl1_bigtable_config_max_message_size_bytes }}
log_batch_count = {{ dpl1_bigtable_config_log_batch_count }}
stats_interval_sec = {{ dpl1_bigtable_config_stats_interval_sec }}
aggressive_validation = {{ dpl1_bigtable_config_aggressive_validation }}
log_level = {{ dpl1_bigtable_config_log_level }}
